<!doctype html>
<html>
  <head>
    <title>&#xfeff;</title>
    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/lib/glfx.js"></script>
    <script type="text/javascript" src="../js/util.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/effect.js"></script>
    <script type="text/javascript" src="../js/effects/normal.js"></script>
    <script type="text/javascript" src="../js/effects/andy.js"></script>
    <script type="text/javascript" src="../js/effects/swirl.js"></script>
    <script type="text/javascript" src="../js/effects/pinch.js"></script>
    <script type="text/javascript" src="../js/effects/grayscale.js"></script>
    <script type="text/javascript" src="../js/effects/sepia.js"></script>
    <script type="text/javascript" src="../js/effects/colorize.js"></script>
    <script type="text/javascript" src="../js/effects/newspaper.js"></script>
    <script type="text/javascript" src="../js/effects/tilt-shift.js"></script>
    <script type="text/javascript" src="../js/effects/vintage.js"></script>
    <script type="text/javascript" src="../js/effects/funky.js"></script>
    <script type="text/javascript" src="../js/processor.js"></script>
  </head>
  <body>
   <div id="main-canvas-wrapper"></div>
    <div id="main-fast-canvas-wrapper"></div>
    <div id="toolbar">
      <ol id="effects">
     </ol>
      <div id="buttons">
        <button id="take-picture" tabIndex="-1">TAKE</button>
      </div>
    </div>
    <div id="picture-preview">
    </div>
    <div id="header">
      <button id="gallery-button" tabIndex="-1"></button>
      <button id="maximize-button" tabIndex="-1"></button>
      <button id="close-button" tabIndex="-1"></button>
    </div>
    <div id="gallery">
    </div>
    <div id="shutter"></div>
  </body>
</html>
